@use 'variaveis';

.benefits-cards {
    margin-block: 0;
    padding-bottom: 30px;
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        @media (max-width: 1200px){
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            place-items: center;
        }
        .card {
            &#ads {
                background-image: url('../../src/images/card/card-one.png')
            }

            &#card-jam {
                background-image: url('../../src/images/card/card-2.png')
            }

            &#card-streaming {
                background-image: url('../../src/images/card/card-3.png')
            }

            &#card-maquina {
                background-image: url('../../src/images/card/card-4.png')
            }

            &#card-download {
                background-image: url('../../src/images/card/card-5.png')
            }
            overflow: hidden;
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            padding: 24px;
            max-height: 226px;
            max-width: 360px;
            gap: 30px;
            background-image: url('../../src/images/card/card-one.png');
            background-color: variaveis.$bgColorMenuPlans;
            background-position: 0 -30px;
            background-repeat: no-repeat;
            background-size: 100%;
            border-radius: 8px;
            transition: max-height .4s linear;

            &.open {
                max-height: 500px;

                .card-info {
                    transform: translateY(0) !important;
                    opacity: 1 !important;
                }

                .card-actionBar {
                    opacity: 1 !important;
                    transform: translateY(0) !important;
                }
            }
            
            &-content {
                flex-shrink: 3;
                overflow: hidden;
                .card-header {
                    display: flex;
                    align-items: end;
                    justify-content: flex-start;
                    height: 178px;   
                    
                    .card-info {
                        display: flex;
                        font-size: 13px;
                        color: variaveis.$hoverColorPrimary;
                        margin-bottom: 6px;
                        position: relative;
                        transform: translateY(100%);
                        opacity: 0;
                        transition: .25s ease-in;
                        
                        &.card-ads::before {
                            content: url('../../src/images/card/svg/ads_autofalante.svg');
                        }

                        &.card-jam::before {
                            content: url('../../src/images/card/svg/jam.svg');
                        }


                        &.card-streaming::before {
                            content: url('../../src/images/card/svg/play-alt.svg');
                        }

                        &.card-maquina::before {
                            content: url('../../src/images/card/svg/graphic.svg');
                        }
                        
                        &::before {
                            content: url('../../src/images/card/svg/download.svg');
                            display: inline-block;
                            padding-right: 4px;
                            vertical-align: middle;
                        }
                    }

                    .card-title {
                        font-size: 24px;
                        line-height: 1.2em;
                        font-weight: 800;
                        word-spacing: -4px;
                    }
                }

                .card-actionBar {
                    opacity: 0;
                    transform: translateY(100%);
                    transition: all .25s ease-in;
                    .card-description {
                        display: block;
                        font-size: 16px;
                        font-weight: 400;
                        color: variaveis.$textDescription;
                        margin-top: 8px;
                        margin-bottom: 16px;
                    }

                    .card-link {
                        display: inline-flex;
                        align-items: center;
                        min-height: 48px;
                        text-decoration: none;
                        text-align: center;
                        font-size: 1rem;
                        font-weight: 700;
                        color: #fff;
                        border: 1px solid #fff;
                        border-radius: 9999px;
                        padding: 7px 31px;
                        cursor: pointer;
                    }
                }
            }

            .card-aside {
                &__button-drop {
                    display: inline-block;
                    width: 48px;
                    height: 48px;
                    border-radius: 99999px;
                    border: none;
                    outline: none;
                    font-size: 20px;
                    color: #000;
                    background-color: variaveis.$hoverColorPrimary;
                    position: relative;
                    top: calc(100% - 48px);

                    @media (max-width: 768px) {
                        width: 34px;
                        height: 34px;
                    }
                }
            }
        }
    }
}