@use 'variaveis';

.header{
    width: 100vw;
    min-height: 54px;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: variaveis.$hoverColorPrimary;

    &__container{
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        @media(min-width: 992px) and (max-width: 1200px){
            max-width: 970px;
        }

        @media(max-width: 991px){
            max-width: 750px;
            height: 54px;
        }
    }

    .header__home{
        color: #fff;
        text-decoration: none;

        &__logo{
            width: 132px;

            @media(max-width: 991px){
                width: 89px;
            }
        }
    }

    &__nav{

        @media(max-width: 992px){
            display: none;
        }
        
        &__links{
            display: flex;
            align-items: center;

            &__link{
                position: relative;
                display: flex;
                font-size: 16px;
                line-height: inherit;

                .header__drop__plans{
                    display: flex;
                    align-items: center;
                    padding: 28px 17px;
                    color: #fff;
                    background-color: initial;
                    border: none;
                    outline: none;
                    text-decoration: none;
                    font-weight: 700;
                    font: inherit;
                    cursor: pointer;

                    &:hover{
                        color: variaveis.$hoverColorPrimary;
                    }

                    .title{
                        text-transform: capitalize;
                        font: inherit;
                        font-weight: 700;
                        font-size: 16px;
                        transition: color .5s;

                        
                    }
                }

                .header__mp{
                    display: none;

                    &--open{
                        display: block;
                        position: absolute;
                        top: 100%;
                    }

                    &__plans{
                        display: block;
                        width: 350px;
                        box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
                        transform: translateZ(-10px);
                        
                        &__plan{
                            background-color: variaveis.$bgColorMenuPlans;

                            &:hover{
                                background-color: #000;
                            }

                            .plan__link{
                                display: flex;
                                flex-direction: column;
                                padding: 30px;
                                color: #fff;
                                text-decoration: none;

                                .title{
                                    margin: 4px 0;
                                    font-size: 18px;
                                    font-weight: 700;
                                    text-transform: capitalize;
                                }

                                .content{
                                    font-size: 12px;
                                    color: #ccc;
                                }
                            }
                        }
                    }
                }

                .hnll__tl{
                    padding: 28px 17px;
                    color: #fff;
                    text-decoration: none;
                    display: block;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: inherit;
                    text-transform: capitalize;
                    transition: color .5s;

                    &:hover{
                        color: currentColor;
                    }
                }

                &--border{
                    display: block;
                    height: 16px;
                    width: 1px;
                    color: #fff;
                    margin: auto 17px;
                    background-color: currentColor;
                }

                .hnll__profile{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font: inherit;
                    font-weight: 700;
                    padding: 20px 0;
                    background-color: initial;
                    color: #fff;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: color .5s;

                    &:hover{
                        color: currentColor;
                    }
                    &__icon{
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        margin: auto 6px auto 10px;
                        border: 2px solid;
                        border-radius: 50%;
                        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
                    }

                    &__content{
                        display: flex;
                        align-items: center;
                        margin: auto 0;
                        font: inherit;
                        font-weight: 700;
                        text-transform: capitalize;
                        
                        &__title{
                            display: block;
                            margin: auto 0 auto 10px;
                        }

                        i{
                            margin: auto 0 auto 6px;
                        }
                    }
                }

                .menu__profile{
                    display: none;
                    &--open{
                        position: absolute;
                    display: block;
                    top: 100%;
                    right: -17px;
                    margin-top: -8px;
                    }

                    &::before{
                        content: "";
                        position: absolute;
                        display: block;
                        width: 0;
                        height: 0;
                        top: -12px;
                        right: 7px;
                        border-bottom: 16px solid #fff;
                        border-right: 16px solid transparent;
                        border-left: 16px solid transparent;
                    }

                    &__options{
                        min-width: 160px;
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0;
                        margin: 2px 0 0;
                        background-color: #fff;
                        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
                        border-radius: 3px;

                        &__option{
                            display: block;

                            .menu__pf__op__action{
                                display: block;
                                text-transform: capitalize;
                                padding: 4px 16px 3px;
                                font-size: 16px;
                                text-decoration: none;
                                color: #000;
                                font-weight: 700;
                                line-height: 1.5;

                                &:hover{
                                    color: variaveis.$hoverColorPrimary;
                                }

                                &.subtitulo{
                                    color: #919496;

                                    &:hover{
                                        color: variaveis.$hoverColorPrimary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.profile__angle{
    
    &--open{
        transform: rotate(180deg);
    }
}


.header__menu__mobile{
    display: none;

    @media(max-width: 992px){
        display: flex;
    }

    .hm__link__profile{
        margin: auto 6px auto 10px;
        color: #fff;
        text-decoration: none;

        i{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 34px;
            height: 34px;
            border: 2px solid #fff;
            border-radius: 50%;
        }
    }

    .hm__drop{
        display: block;
        padding: 0 0 1px 9px;
        background-color: initial;
        border: none;
        outline: none;
        z-index: 101;
        color: #fff;

        &__icon{
            display: block;
            height: 3px;
            width: 22px;
            background-color: currentColor;
            border-radius: 2px;
            
            &:nth-child(2), 
            &:nth-child(3){
                margin-top: 4px;
            }
            
        }
    }
}