@use 'header';
@use 'variaveis';
@use 'hero'; 
@use 'benefits';
@use 'benefits-card';
@use 'plans-info';
@use 'footer';
html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: variaveis.$bgColorprimary;
    overflow-x: hidden;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1200px) {
        max-width: 680px;
    }

    @media (max-width: 560px) {
        display: block;
        max-width: 100%;
    }
}

li{
    list-style: none;
}

.background-primary{
    overflow: auto;
    background-color: variaveis.$bgColorprimary;
}

.scroll--none{
    overflow: hidden;
}

.title-m {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    word-spacing: -7px;
    max-width: 70%;

    @media (max-width: 1200px) {
        max-width: 100%;
        font-size: 32px;
        word-spacing: -5px;
    }

    @media (max-width: 768px) {
        max-width: 100%;
        font-weight: 700;
        line-height: 32px;
        font-size: 28px;
        word-spacing: -4px;
    }
}

.subtitle-m {
    font-size: 16px; 
    font-weight: 400;
    text-align: center;
    margin: 16px auto 32px;
    max-width: 671px;
    line-height: 1.5rem;
}