@use 'header';
@use 'variaveis';
@use 'hero'; 
@use 'benefits';
@use 'benefits-card';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: variaveis.$bgColorprimary;
    overflow-x: hidden;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

li{
    list-style: none;
}

.background-primary{
    overflow: auto;
    background-color: variaveis.$bgColorprimary;
}

.scroll--none{
    overflow: hidden;
}